html {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: 62.5%;
    color: #364A5C;
}

body {
    // background-color: #ECECEC;
    // height: 100vh;
    background: linear-gradient(221.32deg, rgba(229, 234, 238, 0.67) 2.42%, #FFFFFF 53.21%, rgba(238, 238, 238, 0.54) 99.93%);
    position: relative;
    font-size: 1.2rem;
    line-break: strict;
    word-wrap: break-word;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 1.2rem;
    font-family: 'Roboto', 'Noto Sans JP';
    color: #484848;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 1.2rem;
    font-family: 'Roboto', 'Noto Sans JP';
    color: #484848;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

#top {
    position: relative;
    z-index: 1;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: aliceblue;
    z-index: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.catchSect {
    // height: 100%;
    background: #216496;
    position: relative;
    z-index: 0;
    padding-bottom: 50px;

    .catchText {
        // position: absolute;
        // top: 200px;
        // transform: translateX(-50%);
        // left: 50%;
        width: 80%;
        padding-top: 180px;
        margin: auto;
        max-width: 1000px;

        .textBold {
            padding-bottom: 30px;
            text-align: center;

            p {
                color: white;
                font-weight: bold;
                font-size: 2.2rem;
                line-height: 1.6;
            }
        }

        .textDesc {

            p {
                color: white;
                font-size: 1.6rem;
                line-height: 1.4;
                margin: 30px 0;
                // font-weight: bold;
            }
        }

        .notLoginLink {
            background-color: white;
            max-width: 800px;
            margin: 80px auto 0;
            box-shadow: 0px 4px 10px darkslategrey;
            border-radius: 30px;

            h2 {
                font-size: 28px;
                font-weight: bold;
                text-align: center;
                padding: 50px 0;
                width: 80%;
                margin: auto;
            }

            .linkCard {
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 30px;

                a {
                    text-align: center;
                    box-shadow: 0 0 10px rgba(0, 128, 228, 0.9);
                    margin: 30px;
                    border-radius: 30px;
                    width: 40%;
                    max-width: 250px;

                    p {
                        font-size: 16px;
                        font-weight: bold;
                        padding: 20px 0;
                    }
                }
            }

            img {
                max-width: 100px;
            }
        }
    }
}

.slide-item {
    width: auto !important;
    overflow: hidden;
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.mannequinImg {
    height: 400px;
    // background-image: url('../../img/lp/manekin_toplp.png');
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // min-width: 100px;
    // max-width: 400px;
    background-position-x: -60px;
    top: 100px;
    z-index: 1000;
    position: relative;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
    max-width: 800px;
    margin: auto;
}

.mannequinWrap {
    width: 100%;
    overflow: hidden;
    display: block;
    height: 400px;
    position: absolute;
}

.mannequinPosition {
    position: absolute;
    z-index: -1000;
    width: 400px;
    top: 0;
    left: -70px;
}

.tops-container {
    height: 200px;
    top: 40px;
    z-index: 1000 !important;
}

.toplist {
    height: 180px;
}

.pants-container {
    height: 200px;
    top: 190px;
    position: absolute !important;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

.pantslist {
    height: 160px;
    width: 800px;
    object-fit: contain;
    object-position: top;
    margin-left: -20px;
}

.shoes-container {
    height: 200px;
    top: 310px;
    position: absolute !important;
    left: 0px;
    width: 100%;
    overflow: hidden;

    .shoeslist {
        height: 100px;
        width: 800px;
        object-fit: contain;
        object-position: top;
    }
}

.caps-container {
    height: 200px;
    top: -10px;
    position: absolute !important;
    left: -6px;
    width: 100%;
    overflow: hidden;

    .capslist {
        height: 60px;
        width: 800px;
        object-fit: contain;
        object-position: top;
    }
}

.mockImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    max-width: 400px;
    display: block;
    margin: auto;
}

.sect {

    .sectTitle {
        font-weight: bold;
        text-align: center;
        padding: 50px 0;
        font-size: 1.6rem;
    }

    .sectUl {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0;

        li {
            max-width: 250px;
            box-shadow: 0 0 10px rgba(0, 128, 228, 0.3);
            border-radius: 30px;
            padding: 30px;
            box-sizing: border-box;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 300px;

            picture {
                display: flex;
                text-align: center;
                max-width: 100px;
                max-height: 100px;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            h3 {
                font-weight: bold;
                text-align: center;
                font-size: 1.4rem;
                padding: 20px 0;
            }

            p {
                line-height: 1.4;
            }
        }
    }
}

// .mannequinImg {
//     &.female {
//         background-image: url('../../img/lp/woman_manekin_lp.png');
//     }
// }

.sect {
    .sectUl {

        &.sectBrand {
            overflow-x: auto;
            white-space: nowrap;
            flex-wrap: initial;
            justify-content: initial;

            li {
                min-height: 200px;
                min-width: 130px;
                margin: 10px;

                p {
                    white-space: initial;
                }
            }
        }

        &.sectColumn {
            overflow-x: auto;
            white-space: nowrap;
            flex-wrap: initial;
            justify-content: initial;

            li {
                width: 80%;
                padding: 0;
                min-height: initial;
                max-width: 400px;

                a {
                    img {
                        width: 100%;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}

.funcBox {
    // display: flex;
    box-shadow: 0 0 10px rgba(0, 128, 228, 0.3);
    margin: 50px 0;

    .wrapper {
        display: flex;
        max-width: 1000px;
        margin: auto;
        padding: 30px 0;
    }

    picture {
        width: 40%;
        display: flex;

        img {
            width: 100%;
            object-fit: contain;
            padding: 50px 0;
        }
    }

    .textBox {
        width: 60%;

        h3 {
            font-size: 24px;
            // height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            width: 90%;
            margin: auto;
            padding: 50px 0;
        }
    }

    .description {
        // height: 60%;
        text-align: center;
        width: 80%;
        margin: auto;
        position: relative;
        padding-bottom: 90px;

        p {
            line-height: 1.4;
            font-size: 14px;
        }

        .p20 {
            padding: 20px 0;
        }

        .patent {
            text-align: right;
            // padding-right: 30px;
            color: #fff;
            font-size: 12px;
            text-align: center;
        }
    }
}

.arrow_box {
    position: absolute;
    // width:500px;
    // height:80px;
    background: #216496;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    bottom: 10px;
    right: 60px;
}

.arrow_box:after {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    border-color: rgba(0, 128, 228, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-top: -10px;
    border-left-color: #216496;
    left: 98%;
    top: 50%;
}

.img_tennis:after {
    position: absolute;
    right: 0;
    bottom: 20px;
}


.male_img::after {
    background-image: url(../../img/lp/male_tennis.png);
    content: '';
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 50px;
    /*画像の幅*/
    height: 50px;
    /*画像の高さ*/
    background-size: contain;
    vertical-align: middle;
}

.female_img::after {
    background-image: url(../../img/lp/female_tennis.png);
    content: '';
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 50px;
    /*画像の幅*/
    height: 50px;
    /*画像の高さ*/
    background-size: contain;
    vertical-align: middle;
}


.leftBorder {
    border-radius: 0 30px 30px 0;
    margin-right: 10%;
}

.rightBorder {
    border-radius: 30px 0px 0px 30px;
    margin-left: 10%;
    flex-direction: row-reverse;
}

.reverse {
    flex-direction: row-reverse;
}

footer {
    background-color: #216496;
    color: #fff;
    padding: 50px 0 80px;
    // text-align: center;
    // margin-top: 50px;
    // font-weight: 100;
    position: relative;

    small {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }

    ul {
        width: 90%;
        margin: auto;

        li {
            padding: 10px 0;
            border-bottom: 1px solid #f9f9f9;

            a {
                color: #fff;
            }
        }
    }
}

#insta {
    max-width: 1000px;
    margin: auto;

    li {
        padding: 0px;
        margin: 10px;
        position: relative;

        a {
            width: 100%;

            figure {
                width: 100%;

                img {
                    width: 100%;
                    // border-radius: 30px;
                }
            }

            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 40px;
                    margin-right: 10px;
                }

                p {
                    color: white;
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 28px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width:800px) {

    .sect {

        .sectUl {

            li {
                margin: 20px;
            }
        }
    }


    .funcBox {

        .wrapper {
            display: block;
        }

        picture {
            margin: auto;
            width: initial;

            img {
                padding: initial;
            }
        }

        .textBox {
            margin: auto;
            width: 90%;

            h3 {
                font-size: 18px;
            }
        }

        .description {
            // padding: 30px 0;

            p {
                font-size: 12px;
            }
        }
    }

    .catchSect {
        .catchText {
            .notLoginLink {

                h2 {
                    font-size: 20px;
                    line-height: 1.4;
                }

                .linkCard {
                    flex-direction: column;
                    align-items: center;

                    a {
                        width: 80%;
                    }
                }
            }
        }
    }

    #insta {

        li {
            max-width: 150px;
            min-height: initial;
        }
    }

}