html {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-size: 62.5%;
  color: #484848;
}

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background-color: #ECECEC;
  position: relative;
  font-size: 1.2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans JP';
  color: #484848;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans JP';
  color: #484848;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header .titleIcon {
  padding-left: 10px;
  height: 70%;
}

.header .titleImg {
  height: 100%;
}

.header .settingIcon {
  padding-right: 10px;
  cursor: pointer;
  color: #484848;
}

.headerTop {
  height: 50px;
}

.MuiBottomNavigationAction-root {
  min-width: initial !important;
}
