.displayNone {
    display: none !important;
}

.displayFlex {
    display: flex;
}

.relative{
    position: relative;
}

.justifyCenter {
    justify-content: center;
}

.w100 {
    width: 100%;
}

.mannequinImg {
    height: 400px;
    // background-image: url('../../../img/mannequin/mannequin_done3.png');
    // background-image: url('../../../img/mannequin/178cm_man_normal.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // min-width: 100px;
    max-width: 400px;
    // background-position-x: 38%;
    margin: auto;
    position: relative;
}

.sideFontAwesome {
    font-size: 2rem;
}

// アコーディオン


/* Chrome、Safari以外 */
summary {
    display: block;
    padding: 10px;
    text-align: center;
}

/* Chrome、Safari */
summary::-webkit-details-marker {
    display: none;
}

/* オープン時にアニメーションを設定 */
details[open] .detailsBottom {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* 透明 */
        transform: translateY(-10px);
        /* 上から表示 */
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

// wrapper

.selectWearContainer {
    display: flex;
    height: 500px;
}

.btnDesign {
    width: 70px;
    // height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    color: #484848;
    cursor: pointer;

    .sideFontAwesome {
        font-size: 2rem;
    }

    .btnText {
        padding-top: 5px;
    }

    .detailsBtn {
        color: #484848;
        text-align: center;
        padding: 6px;
        display: block;
    }

    .detailsBtn2 {
        color: #484848;
        text-align: center;
        display: block;
    }

    .searchBtn {
        width: 100%;
        height: 100%;
        padding: 6px;
    }

    hr {
        width: 80%;
    }

    .detailsBottom {
        text-align: center;
    }
}

.left {
    border-radius: 0 10px 10px 0;
}

.right {
    border-radius: 10px 0 0 10px;
    margin: 0 0 0 auto;
}

.selectWearContainer {
    display: flex;
}

.leftContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.centerContainer {
    width: 40%;
    min-width: 200px;
    margin: auto;
    position: relative;
}

.clickCover{
    height: 400px;
    position: absolute;
    width: 100%;
    z-index: 1000;
    cursor: pointer;
}

.rightContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#controller {
    width: 100%;
    // left: 0px;
    // position: absolute;
    // top: 40px;

    .wearLi {
        text-align: center;
        height: 50px;
    }

    .wearImg {
        width: 60px;
    }
}

#controller2 {
    width: 100%;
    // left: 0px;
    // position: absolute;
    // top: 120px;
    z-index: 100;
    height: 130px;

    .wearLi {
        text-align: center;
    }

    .wearImg {
        width: 125px;
    }
}

.popper {
    z-index: 1000;
    // bottom: 580px !important;
    left: -5px !important;
    top: 140px !important;
}

.popperSocks {
    z-index: 1000;
    top: 140px !important;
}

.popper2 {
    z-index: 1000;
    left: 3px !important;
    top: 40px !important;
}

#controller3 {
    width: 100%;
    z-index: 2;
    // left: 0px;
    // position: absolute;
    // top: 240px;

    .wearLi {
        text-align: center;
    }

    .wearImg {
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
}

#controller4 {
    width: 100%;
    // left: 0px;
    // position: absolute;
    // top: 370px;

    .wearLi {
        text-align: center;
    }

    .wearImg {
        width: 80%;
        object-fit: contain;
    }
}

.bottomLeftBtn {
    display: flex;
    width: 40%;
    height: 60px;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    color: #484848;
    line-height: 1.5;
    border-radius: 0 10px 10px 0;

    .searchBtn {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .btnText {
        line-height: 2;
    }
}

.bottomRightBtn {
    position: absolute;
    right: 0;
    bottom: -60px;

    display: flex;
    width: 40%;
    height: 60px;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    color: #484848;
    line-height: 1.5;
    border-radius: 10px 0px 0px 10px;

    .searchBtn {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .btnText {
        line-height: 2;
    }
}


// 検索BOX

.MuiIcon-root {
    width: auto !important;
}

.MuiContainer-root {
    padding: 0 !important;
}

.MuiTabs-root {
    border-bottom: solid 1px lightgray;
}

.radioInputLabel {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all .2s;
}

.radioInputLabelColor {
    display: inline-block;
    border-radius: 3px;
    transition: all .2s;
    width: 50px;
    height: 20px;
    border: 1px solid lightgrey;
}

.radioInput:checked+.radioInputLabel {
    background: #216496;
    color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .7);
    border: 1px solid #216496;
}

.radioInputColor:checked+.radioInputLabelColor {
    box-shadow: 0 0 16px rgba(33, 100, 150, .7);

}

.slide_x {
    // display: flex;
    overflow: auto;
    white-space: nowrap;
    margin: 7px 0;
    padding: 7px 0;
}

.MuiBox-root{
    padding: 0 16px 16px 16px !important;
}

@media (max-height: 700px) {
    .tabpanel{
        height: 160px;
        overflow: auto;
    }
  }


/*スクロールバー全体*/
::-webkit-scrollbar {
    height: 2px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    //   box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
}

.searchTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 10px;
}

.divBtn {
    text-align: center;
}

.submitBtn {
    background-color: #0080E4;
    padding: 10px 0px;
    border-radius: 8px;
    color: white;
    width: 80%;
    margin: 10px 0;
}

@media (max-width: 320px) {
    .centerContainer{
        min-width: 180px;
    }
  }