@charset "UTF-8";
.displayNone {
  display: none !important;
}

.displayFlex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.w100 {
  width: 100%;
}

.mannequinImg {
  height: 400px;
  background-image: url("../../../img/mannequin/mannequin_done3.png");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 400px;
  background-position-x: 47%;
}

/* Chrome、Safari以外 */
summary {
  display: block;
  padding: 10px;
  text-align: center;
}

/* Chrome、Safari */
summary::-webkit-details-marker {
  display: none;
}

/* オープン時にアニメーションを設定 */
details[open] .detailsBottom {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateY(-10px);
    /* 上から表示 */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.selectWearContainer {
  display: flex;
  height: 500px;
}

.btnDesign {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  color: #484848;
  cursor: pointer;
}

.btnDesign .sideFontAwesome {
  font-size: 2rem;
}

.btnDesign .btnText {
  padding-top: 5px;
}

.btnDesign .detailsBtn {
  color: #484848;
  text-align: center;
  padding: 10px;
  display: block;
}

.btnDesign .detailsBtn2 {
  color: #484848;
  text-align: center;
  display: block;
}

.btnDesign .searchBtn {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.btnDesign hr {
  width: 80%;
}

.btnDesign .detailsBottom {
  text-align: center;
}

.left {
  border-radius: 0 10px 10px 0;
}

.right {
  border-radius: 10px 0 0 10px;
  margin: 0 0 0 auto;
}

.selectWearContainer {
  display: flex;
}

.leftContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.centerContainer {
  width: 40%;
  min-width: 200px;
  margin: auto;
}

.rightContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#controller {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 40px;
}

#controller .wearLi {
  text-align: center;
}

#controller .wearImg {
  width: 60px;
}

#controller2 {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 110px;
  z-index: 100;
}

#controller2 .wearLi {
  text-align: center;
}

#controller2 .wearImg {
  width: 130px;
}

.popper {
  z-index: 1000;
}

#controller3 {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 220px;
}

#controller3 .wearLi {
  text-align: center;
}

#controller3 .wearImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#controller4 {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 420px;
}

#controller4 .wearLi {
  text-align: center;
}

#controller4 .wearImg {
  width: 80%;
  object-fit: contain;
}

.MuiIcon-root {
  width: auto !important;
}

.MuiContainer-root {
  padding: 0 !important;
}

.MuiTabs-root {
  border-bottom: solid 1px lightgray;
}

.radioInputLabel {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  transition: all .2s;
}

.radioInputLabelColor {
  display: inline-block;
  border-radius: 3px;
  transition: all .2s;
  width: 50px;
  height: 20px;
  border: 1px solid lightgrey;
}

.radioInput:checked + .radioInputLabel {
  background: #216496;
  color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  border: 1px solid #216496;
}

.radioInputColor:checked + .radioInputLabelColor {
  box-shadow: 0 0 16px rgba(33, 100, 150, 0.7);
}

.slide_x {
  overflow: auto;
  white-space: nowrap;
}

/*スクロールバー全体*/
::-webkit-scrollbar {
  height: 2px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.searchTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 10px;
}
