html {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: 62.5%;
    color: #216496;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 1.2rem;
    font-family: 'Roboto', 'Noto Sans JP';
    color: #484848;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 1.2rem;
    font-family: 'Roboto', 'Noto Sans JP';
    color: #484848;
}

a {
    color: #216496;
}

// ヘッダー

.lpHeader {
    position: fixed;
    height: 70px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    justify-content: space-between;
    backdrop-filter: blur(3px);
    z-index: 10000;


    .headerList {
        height: 100%;

        .titleIcon {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;


            img {
                max-height: 60%;
            }
        }
    }

    .headerBtn {
        display: flex;

        .headerBtnItem {
            width: 30vw;
            max-width: 120px;
            border: 1px solid #216496;
            height: 60%;
            margin: auto 10px;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background-color: white;

            .login {
                color: #216496;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }
}

.signinBtn {
    background-color: #216496 !important;

    a {
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// フッター

footer {
    background-color: #216496;
    color: #fff;
    padding: 50px 0 80px;
    margin: auto;
    position: relative;

    small {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }

    ul {
        width: 90%;
        margin: auto;
        max-width: 1000px;


        li {
            padding: 10px 0;
            border-bottom: 1px solid #f9f9f9;

            a {
                color: #fff;
            }
        }
    }
}