.genderBox {
  display: flex;
  justify-content: space-evenly;
}

.genderRadiobox {
  margin: 10px 10px;
}

.genderText {
  display: flex;
  align-items: center;
}

.genderArea {
  display: flex;
  justify-content: space-evenly;
}
