@charset "UTF-8";
input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans JP';
  color: #484848;
}

.genderBox {
  display: flex;
  justify-content: space-evenly;
}

.genderRadiobox {
  margin: 10px 10px;
}

.genderText {
  display: flex;
  justify-content: center;
}

.subtext {
  color: red;
  font-size: 12px;
}

.genderArea {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}

.wearSet {
  height: 170px;
  object-fit: cover;
  display: inline-block;
  border-radius: 20px;
}

.radioInput:checked + .genderRadiobox {
  background: #216496;
  color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  border: 1px solid #216496;
  border-radius: 20px;
}

.coordWrapper {
  overflow: auto;
  white-space: nowrap;
}

.background {
  background-image: url("../../img/lp/tenniswoman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  filter: grayscale(40%);
  top: 0;
}

.regibtn {
  padding: 20px 0;
}

.regibtn .registerbtn {
  background-color: #216496;
  color: white;
  width: 200px;
}

.loginbtn {
  background-color: #216496;
  color: white;
  width: 200px;
}

.resetbtn {
  background-color: #216496;
  color: white;
}

.form-group.row {
  padding: 10px 0;
}

.navindex {
  z-index: 1000;
}

.backgroundRegi {
  background-color: lightgray;
}

.navbar-brand img {
  width: 150px;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 40px;
  background-color: #d9d9d9;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 20px 20px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#male:checked ~ #male_content,
#female:checked ~ #female_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #216496;
  color: #fff;
}

.tabBrandList {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  max-width: 270px;
}

.tabBrandList label {
  cursor: pointer;
  width: 70px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 10px 0;
}

/*全体*/
.hidden_box {
  /*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
/*ボタンホバー時*/
/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
}

/*クリックで中身表示*/
.hidden_box #asics:checked ~ .hidden_show-asics {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #adidas:checked ~ .hidden_show-adidas {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #fila:checked ~ .hidden_show-fila {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #nike:checked ~ .hidden_show-nike {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #prince:checked ~ .hidden_show-prince {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #diadora:checked ~ .hidden_show-diadora {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #ellese:checked ~ .hidden_show-ellese {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #babolat:checked ~ .hidden_show-babolat {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #hydrogen:checked ~ .hidden_show-hydrogen {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #lecoq:checked ~ .hidden_show-lecoq {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

/*クリックで中身表示*/
.hidden_box #asics_female:checked ~ .hidden_show-asics_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #adidas_female:checked ~ .hidden_show-adidas_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #fila_female:checked ~ .hidden_show-fila_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #nike_female:checked ~ .hidden_show-nike_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #prince_female:checked ~ .hidden_show-prince_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #diadora_female:checked ~ .hidden_show-diadora_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #ellese_female:checked ~ .hidden_show-ellese_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #babolat_female:checked ~ .hidden_show-babolat_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #hydrogen_female:checked ~ .hidden_show-hydrogen_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box #lecoq_female:checked ~ .hidden_show-lecoq_female {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.coordTitle {
  margin: 0;
}

.helpIcon {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #216496;
  margin-left: 8px;
  cursor: pointer;
}

.genderText {
  position: relative;
  /* 指定した分だけ相対的に移動 */
}

.genderText:hover .descText {
  display: inline;
  /* インライン要素として表示 */
}

.descText {
  position: absolute;
  /* 親要素を基準 */
  display: none;
  /* 要素を非表示 */
  padding: 20px;
  /* テキストの前後の余白 */
  background-color: rgba(255, 255, 255, 0.8);
  /* 背景色（透明度） */
  width: 250px;
  /* 吹き出し全体の幅 */
  left: 50%;
  /* 表示位置 */
  transform: translateX(-50%);
  bottom: 100%;
  /* 表示位置 */
  margin-bottom: 12px;
  /* 表示位置 */
  font-size: 80%;
  /* 文字サイズ */
  border: 1px solid #216496;
  border-radius: 10px;
}

.descText:after {
  border-top: 12px solid rgba(255, 255, 255, 0.63);
  /* 吹き出し口の高さ・色 */
  border-left: 10px solid transparent;
  /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;
  /* 吹き出し口の幅１／２ */
  bottom: -12px;
  /* 吹き出し口の位置調整 */
  left: 5%;
  /* 吹き出し口の横位置 */
  content: "";
  /* コンテンツの挿入 */
  position: absolute;
  /* 親要素を基準 */
}

.addBG {
  background-color: #216496;
  color: #fff;
  border: none !important;
}
